
<!--THIS IS THE HEADER AND NAVIGATION OF THE PAGE-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>INGENIC</title>
</head>


<body>
<!-- LOGO -->
<nav class="navbar">
    <a class="navbar-brand" href="/">
        <img src="/images/logo.png" width="300" height="100" alt="">
    </a> <p>Irish Network for Gender Equality at National 3rd level Institutions for Computing</p>
</nav>
<!--END LOGO-->
<!--LINES-->
<div class="rectangle"></div>
<div class="rectangle2"></div>
<br>
<!--NAVIGATION BAR -->
<div class="menu">
    <nav class="navbar">
        <a href="/"> <button class="buttonHover" type="button">Home</button></a>
        <a href="/about"> <button class="buttonHover" type="button">About Us</button></a>
        <a href="/news"><button class="buttonHover" type="button">News</button></a>
        <a href="/resources"><button class="buttonHover" type="button">Resources</button></a>
        <a href="/contact"> <button class="buttonHover" type="button">Contact</button></a>
    </nav>
</div>
</body>





















</html>